<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <div class="form-group">
      <label>Account Email</label>
      <input type="email"
             name="email"
             class="form-control">
    </div>

    <button
            class="btn btn-primary">Reset Password <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>
