<div class="container">
  <h3>My Watchlist</h3>

  <div *ngIf="watchlist.length == 0">
    <br>
    <p>Your Watchlist is empty</p>
  </div>

  <div *ngIf="watchlist.length !== 0">
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div *ngFor="let movie of watchlist">
        <div class="card h-70 eachMovie">
          <div class="card-header h-4rem overflow-auto">
            {{movie.title}}
          </div>
          <img src="{{movie.path}}" class="card-img">
          <div class="card-body">
            <p-scrollPanel [style]="{width: '100%', height: '60px'}" styleClass="custombar" class="overview">
              <p>{{movie.overview}}</p>
            </p-scrollPanel>
          </div>
          <div class="card-footer h-3rem">
            <div class="buttons" >
                <span class="rating">
                  <i class="pi pi-star"></i>
                  {{movie.rating}}
                </span>
              <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>
              <!--                <p-button icon="pi pi-star" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>-->
              <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm"
                        (click)="readMore(movie.id)" ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
