.container {
  font-size: medium;
  line-height: 100%;
}

.overview {
  /*text-align : justify;*/
  font-size: 0.2em;
  color: #616161;
  font-family: Arial, sans-serif;
}

.card-img {
  aspect-ratio: 2/3;
}

.rating {
  vertical-align: 0.5em;
}

.card-header {
  font-size: 1em;
  line-height: 100%;
}

.card-footer {
  padding: 7px 0px 0px 7px
}

.eachMovie {
  margin: 10px;
}

.pagination {
  margin: 100px 0;
  justify-content: center;
}
