<p-toast></p-toast>

<div class="text-center auth">
  <div class="form-signin">
    <h2>Шинээр бүртгүүлэх</h2>
    <input type="text"
           class="form-control"
           placeholder="Нэвтрэх нэр"
           required autofocus
           #userName="ngModel"
           [class.is-invalid]="userName.invalid && userName.touched"
           [(ngModel)]="data.userName">

    <input type="text"
           class="form-control"
           placeholder="Нэр"
           pKeyFilter="alpha"
           required
           #firstName="ngModel"
           [class.is-invalid]="firstName.invalid && firstName.touched"
           [(ngModel)]="data.firstName">

    <input type="text"
           class="form-control"
           placeholder="Овог нэр"
           pKeyFilter="alpha"
           required
           #lastName="ngModel"
           [class.is-invalid]="lastName.invalid && lastName.touched"
           [(ngModel)]="data.lastName">

    <input type="email"
           class="form-control"
           placeholder="И-мэйл хаяг"
           #email="ngModel"
           [class.is-invalid]="email.invalid && email.touched"
           [(ngModel)]="data.email"
           required>

    <input type="password"
           class="form-control"
           placeholder="Нууц үг"
           required
           #password="ngModel"
           [class.is-invalid]="password.invalid && password.touched"
           [(ngModel)]="data.password">
    <button
      class="btn btn-lg btn-primary btn-block"
      (click)="register()">
      Бүртгүүлэх
    </button>
  </div>
  <p-toast></p-toast>
</div>
