<div class="container">
  <h3>Popular movies</h3>
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div *ngFor="let movie of movies">
      <div class="card h-70 eachMovie">
        <div class="card-header h-4rem overflow-auto">
          {{movie.title}}
        </div>
        <img src="{{movie.poster_path}}" class="card-img">
        <div class="card-body">
          <p-scrollPanel [style]="{width: '100%', height: '60px'}" styleClass="custombar" class="overview">
            <p>{{movie.overview}}</p>
          </p-scrollPanel>
        </div>
        <div class="card-footer h-3rem">
          <div class="buttons" >
                <span class="rating">
                  <i class="pi pi-star"></i>
                  {{movie.vote_average}}
                </span>
            <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm" title="Add to Watchlist"
                      (click)="addToWatchlist(movie)"></p-button>
            <!--                <p-button icon="pi pi-star" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>-->
            <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm" title="Read more"
                      (click)="readMore(movie.id)" ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="popular/{{page - 1}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="popular/1">1</a></li>
      <li class="page-item"><a class="page-link" href="popular/2">2</a></li>
      <li class="page-item"><a class="page-link" href="popular/3">3</a></li>
      <li class="page-item"><a class="page-link" href="popular/4">4</a></li>
      <li class="page-item"><a class="page-link" href="popular/5">5</a></li>
      <li class="page-item"><a class="page-link" href="popular/6">6</a></li>
      <li class="page-item"><a class="page-link" href="popular/7">7</a></li>
      <li class="page-item"><a class="page-link" href="popular/8">8</a></li>
      <li class="page-item"><a class="page-link" href="popular/9">9</a></li>
      <li class="page-item"><a class="page-link" href="popular/10">10</a></li>

      <li class="page-item">
        <a class="page-link" href="popular/{{page - -1}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <p-toast></p-toast>
</div>
