<div class="container">
  <div class="p-grid" style="display: flex; flex-direction: row;">
    <div class="p-col" style="width: 30%">
      <img src="{{data?.poster_path}}" style="width: 100%">
    </div>
    <div class="p-col">
      <div class="short-info">
        <div class="headline" style="width: 100%">
          <h1>{{data?.title}}</h1>
<!--          <div class="headline-col">-->
<!--            <p-button styleClass="p-button-raised p-button-text p-button-plain p-button-sm" title="Add to Watchlist"-->
<!--                      (click)="addToWatchlist()"><i class="pi pi-plus"></i>    Add to Watchlist</p-button>-->
<!--          </div>-->
        </div>

        <p *ngIf="data?.original_language !== 'en'">
          Original Title:   {{data?.original_title}}
        </p>
        <p>{{data?.release_date.slice(0, 4)}}
          &bull; {{data?.runtime.toString().slice(0, 1) + 'h' + data?.runtime.toString().slice(1, 3) + 'm'}}
          &bull; <i class="pi pi-star"></i>   {{data?.vote_average}}
        </p>
        <span *ngFor="let genre of data?.genres">
        {{genre.name}} &bull;
        </span>

        <p-divider></p-divider>
        <h3>Cast</h3>
        <span *ngFor="let actor of cast; let i = index" class="actor">
          <span *ngIf="i < 5">
            {{actor.name}} &bull;
          </span>
<!--          <span *ngIf="i === 5">-->
<!--            <button pButton pRipple type="button" label="More" class="p-button-rounded"></button>-->
<!--          </span>-->
        </span>

        <p-divider></p-divider>
        <h3>Director</h3>
        <span *ngFor="let crew of credits; let i = index" class="actor">
          <span *ngIf="crew.job === 'Director'">
            <span>{{crew.name}} &bull; </span>
          </span>
        </span>

        <p-divider></p-divider>
<!--        <h3>Writers</h3>-->
<!--        <span *ngFor="let crew of credits; let i = index" class="actor">-->
<!--          <span *ngIf="crew.job === 'Writer'">-->
<!--            <span>{{crew.name}} &bull; </span>-->
<!--          </span>-->
<!--        </span>-->

<!--        <p-button styleClass="p-button-raised p-button-text p-button-plain p-button-sm" title="Add to Watchlist"-->
<!--                  (click)="addToWatchlist(data)"><i class="pi pi-plus"></i>    Add to Watchlist</p-button>-->
        <p-button label="Add to Watchlist" icon="pi pi-plus" (click)="addToWatchlist(data)"></p-button>

      </div>
    </div>
  </div>

  <div class="moreInfo">

    <p-divider></p-divider>
    <h3>Storyline</h3>
    <p>{{data?.overview}}</p>

    <p-divider></p-divider>
    <h3>Videos</h3>
    <div class="videos">
      <p-carousel [value]="videos" [numVisible]="2" [numScroll]="2" [responsiveOptions]="responsiveOptions" style="width:100%">
        <ng-template let-video pTemplate="item">
          <!--        <div *ngFor="let video of videos">-->
          <iframe width="100%" [src]="video.videoUrl" class="video">
            title="{{video.name}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen">
          </iframe>
        </ng-template>
      </p-carousel>
    </div>


    <div class="similar">
      <h3>More like this</h3>
      <p-carousel [value]="similars" [numVisible]="5" [numScroll]="5" [responsiveOptions]="responsiveOptions">
        <ng-template let-movie pTemplate="item">
          <div class="card h-70 eachMovieCard">
            <div class="card-header h-4rem overflow-auto eachMovie">
              {{movie.title}}
            </div>
            <img src="{{movie.poster_path}}" class="card-img eachMovie">
            <div class="card-body">
              <p-scrollPanel [style]="{width: '100%', height: '60px'}" styleClass="custombar" class="overview">
                <p>{{movie.overview}}</p>
              </p-scrollPanel>
            </div>
            <div class="card-footer h-3rem eachMovie">
              <div class="buttons" >
                <span class="rating eachMovie">
                  <i class="pi pi-star"></i>
                  {{movie.vote_average.toFixed(1)}}
                </span>
                <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm" title="Add to Watchlist"
                          (click)="addToWatchlist(movie)"></p-button>
                <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm"
                          (click)="readMore(movie.id)" ></p-button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>



    <div *ngIf="othersreviews.length">
      <p-divider></p-divider>
      <h3>Reviews</h3>
      <div class="othersreviews">
        <p-carousel [value]="othersreviews" [numVisible]="2" [numScroll]="2" [responsiveOptions]="responsiveOptions">
          <ng-template let-othersreview pTemplate="item">

            <div class="card border-dark mb-3" style="width: 100%;">
              <div class="card-header"><i class="pi pi-star"></i> {{othersreview.rating}} / 10</div>
              <div class="card-body text-dark">
                <p-scrollPanel [style]="{width: '100%', height: '5rem'}" styleClass="custombar">
                  <div *ngIf="othersreview.headline">
                    <p>{{othersreview.headline}}</p>
                    <p-divider></p-divider>
                  </div>

                  <p>{{othersreview.content}}</p>
                </p-scrollPanel>
              </div>
              <div class="card-footer text-muted" align="right">
                <i class="pi pi-user"></i>  {{othersreview.userName}}
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>

    <div id="saveRevieww">
      <p-divider></p-divider>
      <h3>Rate and review</h3>
      <p-rating [cancel]="false" [stars]="10" [(ngModel)]="rating"></p-rating>
      <br>
      <input type="text" pInputText [(ngModel)]="review.headline" class="p-inputtext" placeholder="Write a headline for your review" style="width: 100%" required>
      <textarea pInputTextarea [(ngModel)]="review.content" style="width: 100%" [rows]="8" placeholder="Write your review" required></textarea>

      <div align="right">
        <p-button label="Submit" (onClick)="clearFields(); saveReview();"></p-button>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
</div>
