.container {
  /*background-color: #cce4f7;*/
  text-align: left;
  color: #30383c;
  box-sizing: border-box;
  line-height: 100%;
  padding: 0px 30px;
  margin-bottom: 200px;
}

.p-grid {
  column-gap: 40px;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.overview {
  margin-top: 5em;
}

.short-info {
  /*background-color: #2B59FF;*/
  text-align: left;
}

.headline {
  display: flex;

}

.headline-col {
  position: absolute;
  right: 0;
  margin-right: 200px;
}

.moreInfo {
}



.overview {
  /*text-align : justify;*/
  font-size: 0.2em;
  color: #616161;
  font-family: Arial, sans-serif;
}

.eachMovie.card-img {
  aspect-ratio: 2/3;
}

.eachMovie.rating {
  vertical-align: 0.5em;
}

.eachMovie.card-header {
  font-size: 1em;
  line-height: 100%;
}

.eachMovie.card-footer {
  padding: 7px 0px 0px 7px
}

.eachMovieCard {
  margin: 10px;
}

.video {
  aspect-ratio: 3/2;

}
