<!--<div class="row">-->
<!--  <div class="col-md-6 offset-md-3 mt-4">-->
<!--    <h3>Нэвтрэх</h3>-->

<!--    <div class="form-group">-->
<!--      <label>Нэвтрэх нэр</label>-->
<!--      <input type="text"-->
<!--             name="username"-->
<!--             required-->
<!--             [(ngModel)]="data.userName"-->
<!--             class="form-control"-->
<!--             id="registerUsername"-->
<!--             placeholder="Enter username">-->
<!--    </div>-->
<!--    <br>-->

<!--    <div class="form-group">-->
<!--      <label>Нууц үг</label>-->
<!--      <input type="password"-->
<!--             name="password"-->
<!--             [(ngModel)]="data.password"-->
<!--             class="form-control">-->
<!--    </div>-->


<!--    <div class="form-group form-check">-->
<!--      <a [routerLink]="['/reset-password']">Нууц үгээ мартсан</a>-->
<!--    </div>-->
<!--    <button (click)="login()"-->
<!--            class="btn btn-primary">Нэвтрэх<i class="fas fa-sign-in-alt"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<div class="text-center auth">
  <div class="form-signin">
    <h2>Нэвтрэх</h2>
    <input class="form-control"
           placeholder="Нэвтрэх нэр"
           required autofocus
           [(ngModel)]="data.userName">

    <input type="password"
           class="form-control"
           placeholder="Нууц үг"
           required
           [(ngModel)]="data.password">
    <button
      class="btn btn-lg btn-primary btn-block"
      (click)="login()">
      Нэвтрэх
    </button>

    <button
      class="btn btn-lg btn-outline-primary btn-block"
      (click)="register()">
      Шинээр бүртгүүлэх
    </button>
  </div>
  <p-toast></p-toast>
</div>
