<div class="container-movies">
  <div class="popular">
    <h3>Popular movies
      <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="toPopular()" class="p-button-rounded p-button-text p-button-plain"></button>
    </h3>
    <p-carousel [value]="popular" [numVisible]="5" [numScroll]="5" [responsiveOptions]="responsiveOptions">
      <ng-template let-movie pTemplate="item">
          <div class="card h-70 eachMovie">
            <div class="card-header h-4rem overflow-auto">
              {{movie.title}}
            </div>
            <img src="{{movie.poster_path}}" class="card-img">
            <div class="card-body">
              <p-scrollPanel [style]="{width: '100%', height: '60px'}" styleClass="custombar" class="overview">
                <p>{{movie.overview}}</p>
              </p-scrollPanel>
            </div>
            <div class="card-footer h-3rem">
              <div class="buttons" >
                <span class="rating">
                  <i class="pi pi-star"></i>
                  {{movie.vote_average}}
                </span>
                <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm" title="Add to Watchlist"
                          (click)="addToWatchlist(movie)"></p-button>
                <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm" title="Read more"
                          (click)="readMore(movie.id)" ></p-button>
                <!--                <p-button icon="pi pi-star" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>-->
              </div>
            </div>
          </div>
      </ng-template>
    </p-carousel>
  </div>



  <div class="upcoming">
    <h3>Upcoming movies
      <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="toUpcoming()" class="p-button-rounded p-button-text p-button-plain"></button>
    </h3>
    <p-carousel [value]="upcoming" [numVisible]="5" [numScroll]="5" [responsiveOptions]="responsiveOptions">
      <ng-template let-movie pTemplate="item">
        <div class="card h-70 eachMovie">
          <div class="card-header h-4rem overflow-auto">
            {{movie.title}}
          </div>
          <img src="{{movie.poster_path}}" class="card-img">
          <div class="card-body">
            <p-scrollPanel [style]="{width: '100%', height: '60px'}" class="overview">
              <p>{{movie.overview}}</p>
            </p-scrollPanel>
          </div>
          <div class="card-footer h-3rem">
            <div class="buttons" >
                <span class="rating">
                  <i class="pi pi-star"></i>
                  {{movie.vote_average}}
                </span>
              <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm" title="Add to Watchlist"
                        (click)="addToWatchlist(movie)"></p-button>
              <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm" title="Read more"
                        (click)="readMore(movie.id)" ></p-button>
              <!--              <p-button icon="pi pi-star" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>-->

            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>


  <div class="toprated">
    <h3>Top Rated movies
      <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="toToprated()" class="p-button-rounded p-button-text p-button-plain"></button>
    </h3>
    <p-carousel [value]="toprated" [numVisible]="5" [numScroll]="5" [responsiveOptions]="responsiveOptions">
      <ng-template let-movie pTemplate="item">
        <div class="card h-70 eachMovie">
          <div class="card-header h-4rem overflow-auto">
            {{movie.title}}
          </div>
          <img src="{{movie.poster_path}}" class="card-img">
          <div class="card-body">
            <p-scrollPanel [style]="{width: '100%', height: '60px'}" class="overview">
              <p>{{movie.overview}}</p>
            </p-scrollPanel>
          </div>
          <div class="card-footer h-3rem">
            <div class="buttons" >
                <span class="rating">
                  <i class="pi pi-star"></i>
                  {{movie.vote_average}}
                </span>
              <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm" title="Add to Watchlist"
                        (click)="addToWatchlist(movie)"></p-button>
              <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm" title="Read more"
                        (click)="readMore(movie.id)" ></p-button>
              <!--              <p-button icon="pi pi-star" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>-->

            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>



  <div class="trending">
    <h3>Trending this week</h3>
    <p-carousel [value]="trending" [numVisible]="5" [numScroll]="5" [responsiveOptions]="responsiveOptions">
      <ng-template let-movie pTemplate="item">
        <div class="card h-70 eachMovie">
          <div class="card-header h-4rem overflow-auto">
            {{movie.title}}
          </div>
          <img src="{{movie.poster_path}}" class="card-img">
          <div class="card-body">
            <p-scrollPanel [style]="{width: '100%', height: '60px'}" class="overview">
              <p>{{movie.overview}}</p>
            </p-scrollPanel>
          </div>
          <div class="card-footer h-3rem">
            <div class="buttons" >
                <span class="rating">
                  <i class="pi pi-star"></i>
                  {{movie.vote_average}}
                </span>
              <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm" title="Add to Watchlist"
                        (click)="addToWatchlist(movie)"></p-button>
              <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm" title="Read more"
                        (click)="readMore(movie.id)" ></p-button>
              <!--              <p-button icon="pi pi-star" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>-->

            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <p-toast></p-toast>

</div>


