
.container-movies {
  font-size: medium;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 100%;
}

.overview {
  /*text-align : justify;*/
  font-size: 0.2em;
  color: #616161;
  font-family: Arial, sans-serif;
}

.card-img {
  aspect-ratio: 2/3;
  /*max-width: 100%;*/
  /*height: auto;*/
  width: 100%;
  object-fit:scale-down;
}

.rating {
  vertical-align: 0.5em;
}

.card-header {
  font-size: 1em;
  line-height: 100%;
}

.card-footer {
  padding: 7px 0px 0px 7px
}

.card {
  margin: 10px;
  /*width: 18rem;*/
}

.card-group {
  width: 100vm;
}

.eachMovie {
}

.h3 {
  /*display: inline-block;*/
}

.button {
  float: right;
}

