
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Home</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a routerLink="/popular/1" class="nav-link">Popular</a>
      </li>
      <li class="nav-item">
        <a routerLink="/upcoming/1" class="nav-link">Upcoming</a>
      </li>
      <li class="nav-item">
        <a routerLink="/toprated/1" class="nav-link">Top Rated</a>
      </li>
    </ul>

    <div>
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!loggedin && localStorageIsFree">
      <!--      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!loggedin && localStorageIsFree">-->
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!localStorageIsFree">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="pi pi-user"></i>
              <span>  {{userInfo.firstName}}</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
              <button class="dropdown-item" type="button" (click)="toWatchlist()">My Watchlist</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
